*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#f4f8f0;
    color:#333;
}

header{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?w=1600");
    background-size:cover;
    background-position:center;
    color:white;
    text-align:center;
    padding:80px 20px;
}

header h1{
    font-size:3rem;
}

nav{
    background:#2d6a4f;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

section{
    background:white;
    margin:30px auto;
    width:85%;
    padding:30px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

h2{
    color:#2d6a4f;
    margin-bottom:15px;
}

img{
    width:100%;
    max-width:500px;
    display:block;
    margin:20px auto;
    border-radius:10px;
}

ul{
    margin-left:20px;
}

li{
    margin:10px 0;
}

.container-cards{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}

.card{
    background:#f1f8e9;
    width:300px;
    padding:20px;
    border-radius:10px;
    border-left:5px solid #52b788;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

footer{
    background:#2d6a4f;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}
